
@media screen and (max-widht:400px){
    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .clase{
        top: 20px;
        right: 20px;
    }
}

@media screen and (max-width: 900px){
    .toggle {
        display: inline-block;
    }

    .links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #363636;
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 80px);
        width: 100%;
        z-index: -1;
        top: -100vh;
        transition: .5s;
    }

    .active {
        top: 80px;
    }

    .links .link:hover {
        background: #666868;
    }

    .contenedor_foto{
        height: 85vh;
        width: 97%;
        background: linear-gradient(rgba(40, 45, 51, 0.5), rgba(27, 29, 32, 0.5));
        background-image: url(../img/IMG_20230130_091739769.jpg);
        background-position:top right;
        background-repeat: no-repeat;
        background-size:cover;
    }
    
    .contenedor_titulo_ppl{
        width: 100%;
        margin: 5px;
        padding: 30px 5px 5px 5px;
        text-align: center;
        
    }
    
    .contenedor_social{
        display: flex;
        justify-content: space-around;
        min-width: 200px;
        align-items: center;
    }
    
    .contenedor_social a{
        margin-bottom: 15px;
        font-size: 28px;
    }

    .contenedor_datos{
        width: 90%;
        font-size: 20px;
    }
    
    .contenedor_titulo{
        text-align: center;
        font-size: 35px;
    }
    .habilidades i{
        text-align: left;
        font-size: 40px;
        color: rgb(53, 48, 48);
        padding-top: 15px;
    }
}

@media only screen and (max-width:1030px){
    .contenedor_contenido{
        width:100%;
    }
}

@media (max-width: 1570px){
    section{
        transition: .2s;
    }
    .contacto-forma h1{
        font-size: 40px;
    }
    .contacto-forma p{
        margin-bottom: 1rem;
    }
}

@media (orientation:landscape){
    .contenedor_foto{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .contenedor_titulo_ppl{
        font-size: 45px;
        padding: 100px 150px 5px 5px;
    }
}